/* Change the body text color */
.quill {
    height: 100%; /* Total height for both toolbar and editor */
    display: flex;
    flex-direction: column; /* Stack the toolbar and editor vertically */
}

.ql-editor {
    .ql-blank::before {
        color: rgba(126, 126, 126, 0.696) !important;
    }

    // color: white !important; /* White text color */
    p {
        // height: 100% !important;
        margin-bottom: 0.5rem !important;
    }    

}


  