// Add dispute Popup
body {

    .dispute-btn {
        cursor: pointer;
    }

    .ad-dispute {
        .modal-content {
            border: solid 0.5px;
            border-color: var(--color_primary);
            background-color: var(--color_black);
            color: var(--color_tertiary);

            .modal-body {
                input {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }

                textarea {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }
            }
        }

        .modal-header {
            border-bottom: solid 0.5px;
            color: #313842;
        }

        .modal-footer {
            border-top: solid 0.5px;
            color: #313842;
        }


    }

.l-h{line-height: 24px;}
.bg-black{background-color: var(--color_black);}

    // Add review


    .ad-review {
        cursor: pointer;
    }

    .ad-review {
        .modal-content {
            border: solid 0.5px;
            border-color: var(--color_primary);
            background-color: var(--color_black);
            color: var(--color_tertiary);

            .modal-body {
                input {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }

                textarea {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }
            }
        }

        .modal-header {
            border-bottom: solid 0.5px;
            color: #313842;
        }

        .modal-footer {
            border-top: solid 0.5px;
            color: #313842;
        }


    }

.w-s{
white-space: nowrap;}


    // create Milstone



    .create-milstone {
        cursor: pointer;
    }

    .create-milstone {
        .modal-content {
            border: solid 0.5px;
            border-color: var(--color_primary);
            background-color: var(--color_black);
            color: var(--color_tertiary);

            .modal-body {
                input {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }

                textarea {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }
            }
        }

        .modal-header {
            border-bottom: solid 0.5px;
            color: #313842;
        }

        .modal-footer {
            border-top: solid 0.5px;
            color: #313842;
        }

        table {
            background-color: var(--color_black);
            color: var(--color_tertiary);
        }

    }

    .promoted_card {min-width: 255px;}


    // Heder Notifications


    .notification-container {
        width: 33vmin;
        height: 43vmin;
        overflow-y: auto;

        a {
            margin: 0;
            padding: 0;
        }

        .notifi-header {
            background-color: #f2f2f2;
            padding: 8px 10px;

        }

        li {
            padding: 3px;
            margin: 5px;
            border-bottom: 0.5px solid;
            color: #e7e7e7;
        }
    }

    .dropdown-menu[data-bs-popper] {

        padding-top: 0px;
    }

    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        color: var(--color_secondary);
        background-color: transparent;
        border-color: transparent;
    }

    .priceanddate h4 {
        padding-top: 5px;
    }

    .pricedate {
        padding-bottom: 10px;
    }

    .tab-card li {
        margin: 3px 0px;
    }

    .ad-new {
        width: 200px !important;
    }

    .add-new {
        width: 210px !important;
    }

    .pricedate {
        min-width: 85px;
    }

    .dropfix {
        right: 0;
        left: auto !important;
    }

    .filters select {
        margin-bottom: 6px;
    }

    @media only screen and (max-width: 991px) {

        .card-bodyy {
            background: white;
        }

        .first-card {
            background: white;
        }

        .box {
            border-radius: 10px;
        }

        .filtersearch {
            border-radius: 10px;
        }

    }


    @media only screen and (max-width: 815px) {
        .profile-w {
            width: 100px;
        }
    }

    @media only screen and (max-width: 567px) {

        .first-card.card-header {
            background: var(--color_tertiary); color: #313842;
        }

        .filtersearch {
            background: var(--color_tertiary);
        }

        .priceanddate {

            h4 {
                font-size: var(--fs14);
            }

        }

        .box {
            .truncate-overflow {
                font-size: var(--fs12);
            }
        }

        .filters.align-items-center {
            flex-wrap: nowrap !important;
            overflow: auto;
            font-size: var(--fs14);
        }

        .nav.nav-pills.mt-3 {
            flex-wrap: nowrap;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .priceanddate.d-flex.justify-content-between .ls {
            font-size: var(--fs14); padding: 0; 
        }

        .card-footer .btn.rounded-pill.btn-outline-info.mt-2 {
            font-size: var(--fs12);
        margin-bottom: 0;
        padding-bottom: 0;
        }

        .box.ms-3.p-2 {
            font-size: var(--fs12);
        }

        .filters.align-items-center.v-scrol {
            flex-wrap: nowrap;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .ribbon {
            span {
                font-size: var(--fs12);
            }
        }




    }


    @media only screen and (max-width: 400px) {
        body {
            background-color: lightblue;
        }

.humair-profile{
    p{line-height: 24px;}
}

    }

}