// Add dispute Popup
body {

    .dispute-btn {
        cursor: pointer;
    }


    .text-placeholder {
        position: absolute;
        top: 43px;
        right: 20px;
        color: #7e7e7e;
    }

    .ad-dispute {
        .modal-content {
            border: solid 0.5px;
            border-color: var(--color_primary);
            background-color: var(--color_black);
            color: var(--color_tertiary);

            .modal-body {
                input {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }

                textarea {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }
            }
        }

        .modal-header {
            border-bottom: solid 0.5px;
            color: #313842;
        }

        .modal-footer {
            border-top: solid 0.5px;
            color: #313842;
        }


    }

    .navbar-nav .nav-item {
        margin-right: 10px;
    }

    .priceanddate h5 {
        font-size: 17px;
    }

    .card-footer .btn {
        color: #f2f2f2;
    }

    .card-footer .btn:hover {
        color: #000000;
    }

    .collapse.navbar-collapse ul {
        margin: 0px;
        padding: 0px;
    }

    .l-h {
        line-height: 24px;
    }

    .bg-black {
        background-color: var(--color_black);
    }

    // Add review


    .ad-review {
        cursor: pointer;
    }

    .ad-review {
        .modal-content {
            border: solid 0.5px;
            border-color: var(--color_primary);
            background-color: var(--color_black);
            color: var(--color_tertiary);

            .modal-body {
                input {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }

                textarea {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }
            }
        }

        .modal-header {
            border-bottom: solid 0.5px;
            color: #313842;
        }

        .modal-footer {
            border-top: solid 0.5px;
            color: #313842;
        }


    }

    .w-s {
        white-space: nowrap;
    }


    // create Milstone



    .create-milstone {
        cursor: pointer;
    }

    .create-milstone {
        .modal-content {
            border: solid 0.5px;
            border-color: var(--color_primary);
            background-color: var(--color_black);
            color: var(--color_tertiary);
            overflow-x: hidden;
            margin: auto;

            .modal-body {
                input {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }

                textarea {
                    background-color: var(--color_grey);
                    color: var(--color_tertiary);
                    border: solid 0.5px;
                    border-color: #313842;
                    color: var(--color_tertiary);
                }
            }
        }

        .modal-header {
            border-bottom: solid 0.5px;
            color: #313842;
        }

        .modal-footer {
            border-top: solid 0.5px;
            color: #313842;
        }

        table {
            background-color: var(--color_black);
            color: var(--color_tertiary);
        }

    }


    // Heder Notifications


    .notification-container {
        width: 40vmin;
        height: 43vmin;
        overflow-y: auto;

        a {
            margin: 0;
            padding: 0;
        }

        .notifi-header {
            background-color: #f2f2f2;
            padding: 8px 10px;

        }

        li {
            padding: 3px;
            margin: 5px;
            border-bottom: 0.5px solid;
            color: #e7e7e7;
        }
    }

    .dropdown-menu[data-bs-popper] {

        padding-top: 0px;
    }

    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        color: var(--color_secondary);
        background-color: transparent;
        border-color: transparent;
    }

    .priceanddate h4 {
        padding-top: 5px;
    }

    .pricedate {
        padding-bottom: 10px;
    }

    .tab-card li {
        margin: 3px 0px;
    }

    .ad-new {
        width: 200px !important;
    }

    .add-new {
        width: 210px !important;
    }

    .pricedate {
        min-width: 85px;
    }

    .dropfix {
        right: 0;
        left: auto !important;
    }

    .filters select {
        margin-bottom: 6px;

        width: 172px;
        border-radius: 5px;
    }

    .find-yournext-task-btn {
        background-color: #b6b6b6;
    }

    .promoted-talented {
        background-color: var(--color_grey);
    }

    .promoted_card.mb-2 {
        display: flex;
        flex-direction: column;
    }

    .d-flex.align-items-baseline.justify-content-between {
        margin-top: auto;
    }

    .b-r {
        border-radius: 8px;
    }

    .navbar.navbar-expand-lg {
        position: relative;
    }

    .navbar-brand .offcanvas-show-btn {
        position: absolute;
        right: 10px;
    }

    .no-w {
        white-space: nowrap;
        overflow: auto;
    }

    .ql-snow .ql-picker-label {
        color: #f2f2f2 !important;
        filter: invert(1);
    }

    .invert.text-dark.css-b62m3t-container {
        z-index: 3;
    }

.noti-bell{margin-right: -22px;}

.off-canv-without-login ul{ padding-left: 4px;
    li{list-style: none; padding: 1rem 1rem 1rem 0.5rem;
        font-size: var(--fs18);
        font-weight: 400;
        letter-spacing: 1px; cursor: pointer;}
} 













    @media only screen and (max-width: 1087px) {
        .navbar-nav {
            margin-top: 8px;

            .nav-item {
                margin-right: 0px;

            }
        }

        .navbar-expand-lg .navbar-nav .nav-link {
            margin-right: 6px;
            padding: 0px;
        }
    }

    @media only screen and (max-width: 991px) {



        .card-bodyy {
            background: white;
        }

        .first-card {
            background: white;
        }

        .box {
            border-radius: 10px;
        }

        .filtersearch {
            border-radius: 10px;
        }

        .category-btns {
            flex-wrap: nowrap;
            overflow: auto;
        }

        .ribbon-1 img {
            width: 100 !important;
            height: 100 !important;
        }


        // .collapse.navbar-collapse.ms-lg-4.flex-wrap.show{background-color: #000000; color: #ffffff!important;}
        // .navbar-nav .nav-item  {color: var(--color_tertiary) !important;}

        .herosection .hero-content h1 {
            font-size: var(--fs20) !important;
        }

        .herosection .hero-content p {
            font-size: var(--fs16) !important;
        }


    }

    .filters {
        display: flex;
        flex-wrap: nowrap !important;
        overflow: auto;
    }

    @media only screen and (max-width: 815px) {

        .filters {
            flex-wrap: nowrap !important;
            overflow: auto;
        }

        .filters select {
            width: 130px;
        }

        .filtersearch .form-select {
            font-size: 13px;
        }

        .profile-w {
            width: 100px;
        }
    }


    @media only screen and (max-width: 767px) {


        .profile-header {

            .profile-left {
                h5 {
                    margin-bottom: 7px;
                }
            }
        }

        .profile-header .profile-left p {
            margin-bottom: 7px;
        }

        .profile-header .profile-left span {
            margin-bottom: 7px;
        }

        .profile-header .profile-right p {
            margin-bottom: 7px;
        }

    }

    @media (max-width: 575px) {
        .promoted_te_section .custom-prev.jsx-76e05e1ef6aca06d {
            top: 13rem !important;
            left: 25%;
        }

        .promoted_te_section .custom-next.jsx-76e05e1ef6aca06d {
            top: 13rem !important;
            right: 25%;
        }
    }


    @media only screen and (max-width: 567px) {

        .first-card.card-header {
            background: var(--color_tertiary);
            color: #313842;
        }

        .filtersearch {
            background: var(--color_tertiary);
        }

        .priceanddate {

            h4 {
                font-size: var(--fs14);
            }

        }

        .box {
            .truncate-overflow {
                font-size: var(--fs12);
            }
        }

        .filters.align-items-center {
            flex-wrap: nowrap !important;
            overflow: auto;
            font-size: var(--fs14);
        }

        .nav.nav-pills.mt-3 {
            flex-wrap: nowrap;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .priceanddate.d-flex.justify-content-between .ls {
            font-size: var(--fs14);
            padding: 0;
        }

        .card-footer .btn.rounded-pill.btn-outline-info.mt-2 {
            font-size: var(--fs12);
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .box.ms-3.p-2 {
            font-size: var(--fs12);
        }

        .filters.align-items-center.v-scrol {
            flex-wrap: nowrap;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .ribbon {
            span {
                font-size: var(--fs12);
            }
        }


    }



    @media (max-width: 470px) {
        .login-register .btn {

            min-width: 60px;
            font-size: 12px;
        }

        .navbar-brand-image {
            width: 130px;
        }

        .custom-next.jsx-e074524b34f213b0 {
            right: -19px;
        }

    }

    @media (max-width: 400px) {
        .custom-prev.jsx-e074524b34f213b0 {
            left: -19px;
        }

        .custom-next.jsx-e074524b34f213b0 {
            right: -19px;
        }

    }





    @media only screen and (max-width: 400px) {
        body {
            background-color: lightblue;

        }


        .humair-profile {
            p {
                line-height: 24px;
            }
        }

    }

}